.contenedor-categorias-titulo {
	text-align: center;
	margin: 20px;
	font-size: 2rem;
}

.contenedor-categorias {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	overflow-x: auto;
	white-space: nowrap;
}

.contenedor-categoria {
	background-color: var(--secondary-color);
	margin: 15px;
	color: var(--text-);
	padding: 20px 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 7px;
	box-shadow: var(--box-shadow) 0px 3px 8px;
}

.contenedor-categoria img {
	width: 25vh;
	border-radius: 7px;
}

@media (max-width: 985px) {
	.contenedor-categorias {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	overflow-x: auto;
	white-space: nowrap;
}
}