.search-bar {
	width: 100%;
	background-image: url("../../assets/categoria.png");
	height: 200px;
	object-fit: cover;
	margin-top: 70px;
}

.search-bar-container {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
	padding: 10px 10px 0px 0px;
	height: 100%;
} 

.search-bar-title{
	font-size: 1.5rem;
	margin-top: 10px;
	color: var(--text-color);
	text-align: center;
}

.search-bar-input-bar {
	display: inline-block;
	width: 90%;
	padding: 20px 0px;
}

.search-bar-input-bar input{
	border: none;
}