@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  background: var(--background);
  padding-top: 80px;
}

input {
  border: none;
  color: var(--input-color);
}

input::placeholder{
  color: var(--input-color);
}

.container {
  width: 100%;
  transition: 0.5s;
}

.container-body {
  color: var(--text-color);
  height: 100vh;
}

.sombreado{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}