* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: var(--background);
}

input {
  background: var(--input-background);
  color: var(--input-color);
}

input::placeholder{
  color: var(--input-color);
}

.container {
  width: 100vw;
  min-height: 100vh;
  transition: 0.5s;
}

.container-body {
  margin-top: 100px;
  background: var(--background);
  color: var(--text-color);
}