@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  background: var(--background);
}

input {
  background: var(--input-background);
  color: var(--input-color);
}

input::placeholder{
  color: var(--input-color);
}

.container {
  width: 100vw;
  transition: 0.5s;
}

.container-body {
  margin-top: 70px;
  margin-bottom: 70px;
  background: var(--background);
  color: var(--text-color);
}

.sombreado{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}